# Misc
spotify_status.py
.env

# Fish
fish/fish_variables
fish/fishd.*
fish/local.fish

#Fisher
fish/functions/fisher.fish
fish/completions/fisher.fish
fish/fisher/functions/*.fish
fish/fisher/completions/*.fish
fish/fisher/conf.d/*.fish