spawn-sh-at-startup "wl-paste --watch cliphist store &"

// Needs to run inside the niri session for NIRI_SOCKET, which app matching relies on
spawn-sh-at-startup "xremap --device 'Kingston HyperX Pulsefire Core' --watch=config,device ~/.config/xremap/config.yml"

spawn-at-startup "spotify-launcher"
spawn-sh-at-startup "steam -silent"

// For some reason Discord needs a delay or it won't start properly, weird but I won't question it
spawn-sh-at-startup "sleep 3 && discord --start-minimized"
