input {
		workspace-auto-back-and-forth
		focus-follows-mouse max-scroll-amount="0%"

    keyboard {
        xkb {
        }
        numlock
    }

    mouse {
        accel-speed 0
        accel-profile "flat"
    }
}
