* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Nerd Font Mono";
    min-height: 0;
}

window#waybar {
    background-color: rgba(12, 16, 30, 0.3);
    color: #FAF6F6;
    font-size: 13px;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
    margin-left: 20px;
}

#workspaces button {
    padding: 0 13px;
    background: transparent;
    color: rgba(250, 246, 246, 0.25);
    border-bottom: 2px solid rgba(250, 246, 246, 0.25);
    font-size: 22px;
}

#workspaces button.visible {
    color: rgba(250, 246, 246, 0.65);
    border-bottom: 2px solid rgba(250, 246, 246, 0.60);
}

#workspaces button.focused {
    color: 	#FAF6F6;
    border-bottom: 2px solid #FAF6F6;
}

#workspaces button:hover {
    color: #FAF6F6;
    border-bottom-color: #FAF6F6;
    box-shadow: inherit;
    text-shadow: inherit;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #custom-spotify, #custom-updates, #tray, #mode {
    padding: 0 7px;
    margin: 0 2px;
}

#custom-updates {
    color: rgb(171, 156, 224);
    background-color: rgba(171, 156, 224, 0.1)
}

#custom-spotify {
    color: rgb(102, 220, 105);
    background-color: rgba(102, 220, 105, 0.1);
    margin-right: 0;
}

#tray {
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 12px;
    margin-left: 0;
}

#clock {
    font-weight: bold;
}