@import "/home/erika/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Nerd Font";
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #fcfcfc; /* We don't use foreground here because it's too close to the main accent color and doesn't work well in a bar */
    font-size: 14px;
}

#window {
    font-weight: bold;
    margin-left: 20px;
    font-family: "Iosevka Slab";
}

#workspaces button {
    padding: 0 13px;
    background: transparent;
    color: rgba(250, 246, 246, 0.25);
    border-bottom: 2px solid rgba(250, 246, 246, 0.25);
    font-size: 15px;
}

#workspaces button.visible {
    color: rgba(250, 246, 246, 0.55);
    border-bottom: 2px solid rgba(250, 246, 246, 0.55);
}

#workspaces button.focused {
    color: 	#FAF6F6;
    border-bottom: 2px solid #FAF6F6;
}

#workspaces button:hover {
    color: #FAF6F6;
    border-bottom-color: #FAF6F6;
    box-shadow: inherit;
    text-shadow: inherit;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #custom-spotify, #custom-updates, #custom-recording, #tray, #mode {
    font-family: "Iosevka Slab";
    font-weight: 600;
    padding: 0 7px;
    margin: 0 2px;
}

#custom-updates {
    color: lighter(@color6);
    background-color: alpha(@color5, 0.1);
}

#custom-updates.no-updates {
    color: alpha(@color6, 0.3);
    background-color: alpha(@color5, 0.1);
}

#custom-spotify {
    color: rgb(102, 220, 105);
    background-color: rgba(102, 220, 105, 0.1);
    margin-right: 0;
}

#custom-spotify.paused, #custom-spotify.stopped {
    color: rgba(102, 220, 105, 0.3);
}

#custom-recording {
    color: rgb(245, 46, 39);
    background-color: rgba(245, 46, 39, 0.1)
}

#tray {
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 12px;
    margin-left: 0;
}

#clock {
    font-weight: bold;
}
